*
{
    font-size: 1.1em;
}
body
{
    background-image: url('../ecran.jpg');
    background-size: cover;
    text-align: center;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
    background-attachment: fixed;

}
.second
{
    display: flex;
    justify-content: space-around;
}
a
{
    text-decoration: none;
    color: white;
    background-color: rgb(21, 44, 105);
    display: block;
    padding: 1%;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
}   
a:hover
{
    opacity: 0.6;
}
